<div class="lista">
  
  <mat-card class="home-card" *ngFor="let titulo of titulos">
    <div>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{ titulo.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ titulo.genero }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="titulo.urlCapa" [alt]="titulo.titulo">
      <mat-card-content>
        <p class="quebrar-linhas">
          {{ titulo.descricao }}
        </p>
      </mat-card-content>
    </div>
    <mat-card-actions class="botoes">
      <button class="botao" mat-raised-button>EDITAR</button>
      <button class="botao" mat-raised-button>EXCLUIR</button>
    </mat-card-actions>
  </mat-card>
  
</div>