h3 {
    line-height: 100%;
}

.container-main {
    background-color: black;    
}

.filme-principal { 
    background-size: 85vw;
    background-repeat: no-repeat;
    background-position: right center;
    height: 60vh;
    padding: 15px;    
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 16px;
    color: white;  
}

.filme-principal .container {
    width: 60%;
}

.filme-principal .titulo {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15%;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao-icone {
    margin-top: -5px;
    margin-right: 10px;    
}

.slide {
    cursor: pointer;          
}

.box-filme {    
    object-fit: fill;    
    display: block;   
    height: 100%;
}

.img-favorito {
    position: absolute;
    background-color: var(--preto);
    font-size: 36px;
    color: white;    
    padding: 10px;
    width: 55px;
    height: 55px;
    top: 0;
    right: 0;
}