<div class="container">
  
  <div class="menu">
    <button type="button" mat-icon-button (click)="menuLateral.toggle()" aria-label="Menu lateral">
      <mat-icon>pets</mat-icon>
    </button>
      
    <a href="home"><h2 class="logo">CATFLIX</h2></a>
  </div>          
    
  <nav class="flex">
    <a (click)="filtrar('favorito', true)">Favoritos</a>    
    <a (click)="filtrar('genero', 'Filme')">Filmes</a>
    <a (click)="filtrar('genero', 'Série')">Séries</a>
  </nav>

</div>

<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #menuLateral mode="side"> <!--'over', 'side', 'push'-->          
    <a [routerLink]="['home']" (click)="menuLateral.toggle()"><div class="item-lateral">Página inicial</div></a>    
    <a [routerLink]="['listar']" (click)="menuLateral.toggle()"><div class="item-lateral">Listar mídias cadastradas</div></a>
    <a [routerLink]="['cadastrar']" (click)="menuLateral.toggle()"><div class="item-lateral">Cadastrar nova mídia</div></a>    
  </mat-sidenav>  

  <mat-sidenav-content>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>