<mat-card class="frame-card" *ngIf="cadastro">
  <mat-card-header class="margin-bottom-20">          
    <mat-card-title>{{ estaEditando? 'Editar Mídia' : 'Cadastrar Mídia' }}</mat-card-title>      
  </mat-card-header>

  <form [formGroup]="cadastro" autocomplete="off" novalidate
        (ngSubmit)="submit()" > 

    <mat-card-content>
      <app-input-text controlName="titulo" label="Título *" [formGroup]="cadastro"></app-input-text>
      <app-input-text controlName="urlCapa" label="URL da imagem da capa" [formGroup]="cadastro"></app-input-text>      
      <app-input-textarea controlName="descricao" label="Descrição" [formGroup]="cadastro"></app-input-textarea>
      <app-input-select controlName="genero" label="Gênero *" [opcoes]="generos" [formGroup]="cadastro"></app-input-select>
      <p><mat-checkbox color="warn" formControlName="destaque">Destaque</mat-checkbox></p>
    </mat-card-content>

    <mat-card-actions>
      <div class="botoes">
        <button type="submit" class="botao cadastro-botao" mat-raised-button>
          {{ estaEditando? 'ATUALIZAR' : 'CADASTRAR' }}
        </button>
        <button type="button" (click)="reiniciarForm()" class="botao cadastro-botao" mat-raised-button>
          {{ estaEditando? 'CANCELAR' : 'LIMPAR' }}
        </button> 
      </div>      
    </mat-card-actions>

  </form>
</mat-card>